@import '~bootstrap';
@import '@fortawesome/fontawesome-free/css/all.css';
@import '~@fontsource/roboto-condensed';

body {
    background-color: #e5ca89;
    color: #110d0d;
    font-family: 'Roboto Condensed', sans-serif;
}

.song-list i {
    margin-top: 7px;
}

.song-list a {
    color: #fff;
}

.song-details {
    background-color: #fa3543;
    color: #ffffff;
    border-radius: 5px;
    padding:5px;
}

.genre-list li {
    margin-right: 5px;
}
